In [1]:
#Q1
marks=int(input("Enter your marks"))
if marks > 90:
    print("Grade = A")
elif marks <= 90 and marks > 80:
    print("Grade = B")
elif marks <=80 and marks >=60:
    print("Grade = C")
else :
    print("Grade = D")

Enter your marks 91

Grade = A

In [2]:
#Q2
cost_price=int(input("Enter your bike cost price"))
if cost_price > 100000:
      print("you will pay 15% road tax " ) 
elif cost_price <= 100000 and cost_price >50000:
     print("you will pay 10% road tax " )
else:   
    print("you will pay 5% road tax" )

Enter your bike cost price 60000

you will pay 10% road tax

In [3]:
#Q3
city=input("Enter your city")
if city== "Delhi":
    print("Red Fort")
elif city== "Agra":
    print("Taj Mahal")
elif city== "Jaipur":
    print("Jal Mahal")
else :
    print("you will enter wrong input")

Enter your city Jaipur

Jal Mahal

In [3]:
#Q4
number=int(input("Enter a Number"))
count=1
while number>0:
     num = number/3
        if num <=10:
            print(count) 
            break
        count=count+1
        number=num

IndentationError: unexpected indent (1134310394.py, line 6)

In [19]:
#Q5
n=int(input("Enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the number of rows 4

1
1 2
1 2 3
1 2 3 4

In [20]:
#Q5
n=int(input("Enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the number of rows 7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [23]:
#Q5
n=int(input("Enter the number of rows"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter the number of rows 6

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [24]:
#Q6
#Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. 
#And when the condition becomes false, the line immediately after the loop in the program is executed.
# example
count=1
while(count<=5):
    print("pankaj")
    count=count+1

pankaj
pankaj
pankaj
pankaj
pankaj

In [11]:
#Q7 
i=10
while i>=1:
    print (i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [13]:
#Q8
i=10
while i>=1:
      print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1